<link rel="stylesheet" href="views/style/welcome.css">
<title>Home!</title>
</head>

<body>
    <div class="welcome">

        <section>
            <a href="views/login.php">login</a>
        </section>
        <div class="or">
            <hr>
            OR
            <hr>
        </div>
        <section>
            <a href="views/signup.php">signup</a>
        </section>
        
    </div> 
    <div class="search">
        <div class="bar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" name="query" placeholder="lookup a landscape!"/>
    </div>
</body>