* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.user img {
    width: 50px;
}


.post {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
}

.post img {
    height: 300px;
    width: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.post p {
    font-size: 1.5em;
}